<a class="page-quick-sidebar-toggler">
    <i class="icon-login"></i>
</a>
<div class="page-quick-sidebar-wrapper" data-close-on-body-click="true">
    <div class="page-quick-sidebar">
        <ul class="nav nav-tabs">
            <!--<li class="active">
                <a data-target="#quick_sidebar_tab_1" data-toggle="tab"> Cadastro
                </a>
            </li>
            <li>
                <a data-target="#quick_sidebar_tab_2" data-toggle="tab"> Configurações
                </a>
            </li>-->
        </ul>
        <div class="tab-content">
            <div class="tab-pane page-quick-sidebar-chat active" id="quick_sidebar_tab_1">
                <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd"
                     data-wrapper-class="page-quick-sidebar-list">
                    <!--<h3 class="list-heading">
                        <b>Eventos</b>
                    </h3>
                    <ul class="media-list list-items">
                        <li class="media" [routerLink]="['categorias']">
                            <div class="media-body">
                                <h4 class="media-heading">Gerenciar Modelos</h4>
                                <div class="media-heading-sub"> Modelos</div>
                            </div>
                        </li>
                    </ul>
                    <h3 class="list-heading">
                        <b>Workflow</b>
                    </h3>
                    <ul class="media-list list-items">
                        <li class="media" [routerLink]="['workflow']">
                            <div class="media-body">
                                <h4 class="media-heading">Fluxos do sistema</h4>
                                <div class="media-heading-sub"> Fluxos</div>
                            </div>
                        </li>
                        <li class="media" [routerLink]="['workflow/atividades']">
                            <div class="media-body">
                                <h4 class="media-heading">Atividades do sistema</h4>
                                <div class="media-heading-sub"> Atividades</div>
                            </div>
                        </li>
                        <li class="media" [routerLink]="['workflow/transitions']">
                            <div class="media-body">
                                <h4 class="media-heading">Transitions das atividades do sistema</h4>
                                <div class="media-heading-sub"> Transitions</div>
                            </div>
                        </li>
                    </ul>
                    <h3 class="list-heading">
                        <b>Controle de Usuários</b>
                    </h3>
                    <ul class="media-list list-items">
                        <li class="media" [routerLink]="['unidades-origanizacionais']">
                            <div class="media-body">
                                <h4 class="media-heading">Listagem e Cadastro de Unidades Organizacionais</h4>
                                <div class="media-heading-sub"> Unidades Organizacionais</div>
                            </div>
                        </li>
                        <li class="media" [routerLink]="['papel']">
                            <div class="media-body">
                                <h4 class="media-heading">Papeis Funcionais</h4>
                                <div class="media-heading-sub"> Papeis</div>
                            </div>
                        </li>
                        <li class="media" [routerLink]="['usuarios']">
                            <div class="media-body">
                                <h4 class="media-heading">Listagem e Cadastro de Usuários</h4>
                                <div class="media-heading-sub"> Usuários</div>
                            </div>
                        </li>
                    </ul>
                    <h3 class="list-heading">
                        <b>Utilitários</b>
                    </h3>
                    <ul class="media-list list-items">
                        <li class="media" [routerLink]="['feriados']">
                            <div class="media-body">
                                <h4 class="media-heading">Listagem e Cadastro de Feriados</h4>
                                <div class="media-heading-sub"> Feriados</div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <h4 class="media-heading">Integração com Crédito Tributário</h4>
                                <div class="media-heading-sub"> Exportação CRD</div>
                            </div>
                        </li>
                    </ul>-->
                </div>
            </div>
            <div class="tab-pane page-quick-sidebar-chat" id="quick_sidebar_tab_2">
                <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd"
                     data-wrapper-class="page-quick-sidebar-list">
                    <!--<h3 class="list-heading">
                        <b>Registros de Processos</b>
                    </h3>
                    <ul class="media-list list-items">
                        <li class="media" [routerLink]="['historicos/tipos']">
                            <div class="media-body">
                                <h4 class="media-heading">Históricos</h4>
                                <div class="media-heading-sub"> Tipos de Históricos</div>
                            </div>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</div>
