<div class="box-view">

  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-info-circle"></i>
      <span class="caption-subject bold" style="font-size:11pt ;"> Chat  - Dúvidas do Contribuinte </span>
  </div>
  </div>

  <div class="container-conversation">
    <div class="msg enviada">
      xxxxxxxxxxxxxxxxxxxx
    </div>
    <span class="msg recebida">
      xxxxxxxxxxxxxx
    </span>
    <span class="msg enviada">
      xxxxxxx
    </span>
    <span class="msg recebida">
      xxxxxxxxxxxxxxx
    </span>
    <span class="msg enviada">
      xxxxxxx
    </span>
    <span class="msg recebida">
      xxxxxxxxxxxxxxx
    </span>
  </div>

  <div class="envio-msg">
    <input type="text" class="form-control">
    <button class="btn btn-primary"> Enviar </button>
  </div>
</div>
