<div *ngIf="!usuarioLogado.user.isFiscal" >
<div *ngFor="let msg of mensagens" class="alert alert-{{msg.tipo}}"  role="alert" style="display: flex;justify-content:space-between">
  <span class="h5">{{msg.descricao}}</span>
  <button type="button" (click)="marcarComoLida(msg)" class="btn btn-success">Lida</button>
</div>
</div>
<div class="containter-fluid content-box" *ngIf="!usuarioLogado.user.isFiscal">
  <div class="row">
    <div class="tiles col-md-1" style="margin-right: 15px">
      <div
        class="tile"
        style="background-color: #0096ff"
        routerLink="/pages/guias"
      >
        <div class="tile-body">
          <i class="glyphicon glyphicon-briefcase"></i>
        </div>
        <div class="tile-object">
          <div class="bold">
            <p>GUIAS</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tiles col-md-1">
      <div
        class="tile"
        style="background-color: #ff0084"
        [routerLink]="['/guias']"
      >
        <div class="tile-body">
          <i class="glyphicon glyphicon-usd"></i>
        </div>
        <div class="tile-object">
          <div class="bold">
            <p>DAEMS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="containter-fluid content-box" *ngIf="usuarioLogado.user.isFiscal">
  <div class="row">
    <div class="caption">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      <span class="caption-subject font-blue-sharp bold uppercase">
        Dashboard
      </span>
    </div>
  </div>

</div>
