<div class="containter-fluid content-box">
  <div class="row">
    <div class="tiles col-md-1" style="margin-right: 15px">
      <div
        class="tile"
        style="background-color: #0096ff"
        routerLink="/pages/guias"
      >
        <div class="tile-body">
          <i class="glyphicon glyphicon-briefcase"></i>
        </div>
        <div class="tile-object">
          <div class="bold">
            <p>GUIAS</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tiles col-md-1">
      <div
        class="tile"
        style="background-color: #ff0084"
        [routerLink]="['/guias']"
      >
        <div class="tile-body">
          <i class="glyphicon glyphicon-usd"></i>
        </div>
        <div class="tile-object">
          <div class="bold">
            <p>DAEMS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
