<ngx-loading [show]="loading"></ngx-loading>
<div class="container-row">
<div class="container-column">
  <span class="h4" style="align-self: flex-start;">Dados da Guia</span>
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-file-text"></i>
        <span class="caption-subject bold">Informações Gerais</span>
    </div>
    </div>

    <div class="portlet-body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores at dignissimos nisi illo labore. Aut aliquid nemo <br>
      accusantium dolorem eius atque molestiae iusto cum sed numquam voluptates, sapiente quisquam sequi?
    </div>
  </div>

  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-info-circle"></i>
        <span class="caption-subject bold">Participantes / Partes envolvidas </span>
    </div>
    </div>

    <div class="portlet-body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores at dignissimos nisi illo labore. Aut aliquid nemo <br>
      accusantium dolorem eius atque molestiae iusto cum sed numquam voluptates, sapiente quisquam sequi?
    </div>
  </div>

  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-info-circle"></i>
        <span class="caption-subject bold">Crédito Tributário </span>
    </div>
    </div>

    <div class="portlet-body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores at dignissimos nisi illo labore. Aut aliquid nemo <br>
      accusantium dolorem eius atque molestiae iusto cum sed numquam voluptates, sapiente quisquam sequi?
    </div>
  </div>
</div>
<div class="container-column">
  <app-status-guia></app-status-guia>
  <app-chatbox></app-chatbox>
</div>
</div>
