<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu  " data-keep-expanded="false" data-auto-scroll="true"
          data-slide-speed="200">

          <!-- HOME -->
          <li class="nav-item start active open">
              <a href="javascript:;" class="nav-link nav-toggle">
                  <i class="icon-home"></i>
                  <span class="title">Home</span>
                  <span class="selected"></span>
                  <span class="arrow open"></span>
              </a>
              <ul class="sub-menu">
                  <li class="nav-item start active open">
                      <a href="#" class="nav-link ">
                          <i class="icon-bulb"></i>
                          <span class="title">Visão Geral</span>
                          <span class="selected"></span>
                      </a>
                  </li>
                  <li class="nav-item start">
                      <a class="nav-link ">
                          <i class="fa fa-code"></i>
                          <span class="title">Repositório do Projeto</span>
                      </a>
                  </li>
                  <li class="nav-item start ">
                      <a  class="nav-link ">
                          <i class="icon-organization"></i>
                          <span class="title">Organização do Tema</span>
                      </a>
                  </li>
              </ul>
          </li>


          <!-- INTERFACE -->
          <li class="heading">
              <h3 class="uppercase">Interface</h3>
          </li>
          <li class="nav-item  ">
              <a href="javascript:;" class="nav-link nav-toggle">
                  <i class="icon-settings"></i>
                  <span class="title">UI Geral</span>
                  <span class="arrow"></span>
              </a>
              <ul class="sub-menu">
                  <li class="nav-item ">
                      <a  class="nav-link "> Cores </a>
                  </li>
                  <li class="nav-item ">
                      <a  class="nav-link "> Botões </a>
                  </li>
                  <li class="nav-item ">
                      <a  class="nav-link "> Faixas </a>
                  </li>
                  <li class="nav-item ">
                      <a  class="nav-link "> Tipografia </a>
                  </li>
                  <li class="nav-item start">
                      <a  class="nav-link "> Mensagens de feedback </a>
                  </li>
                  <li class="nav-item start">
                      <a  class="nav-link "> Modais </a>
                  </li>
              </ul>
          </li>

      </ul>
  </div>
</div>
