<!--<div class="btn-group util-btn-margin-bottom-5" *ngIf="!rota">
  <button *ngFor="let item of menus"
          class="btn btn-inverse social-icon-color font-white" [ngStyle]="{'background-color': item.cor}"
          [routerLink]="[item.rota]" [title]="item.titulo">
    <i [class]="item.icone"></i>
  </button>
</div>-->
<div class="btn-group util-btn-margin-bottom-5" *ngIf="usuarioSessao.user.grupoSistema == eGrupoSistema.GESTOR">
  <button class="btn btn-inverse social-icon-color font-white" style="background-color: #281464"
          [routerLink]="['doc-ordem']" title="Documentos - Gestor">
    <i class="fa fa-file-archive-o"></i>
  </button>
  <button class="btn btn-inverse social-icon-color font-white" style="background-color: #059300"
          title="Relatórios Gerenciais">
    <i class="fa fa-archive"></i>
  </button>
  <button class="btn btn-inverse social-icon-color font-white" style="background-color: #b22222"
          [routerLink]="['ordem-servico-conclusao']" title="Relatório de Conclusão">
    <i class="fa fa-archive"></i>
  </button>
</div>

