<div class="container-column">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light portlet-fit bordered" style="width: 870px">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-layers font-blue"></i>
            <span class="caption-subject font-blue bold uppercase">
              Viuva(o)/Meeira(o)
            </span>
          </div>
          <div class="actions">
            <div class="input-icon pull-right">
              <i class="icon-magnifier"></i>
              <input
                type="text"
                class="form-control input-circle"
                placeholder="Filtrar...."
                name="filter"
                [(ngModel)]="filter"
              />
            </div>
            <hr />
          </div>
        </div>
        <div class="portlet-body">
          <div id="bootstrap_alerts_demo"></div>
          <form class="form-horizontal" role="form">
            <div class="form-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <h6 class="control-label col-md-3">Nome:</h6>
                    <div class="col-md-9">
                      <p class="form-control-static">
                        {{ viuvoaMeeiroa.nome }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h6 class="control-label col-md-3">CPF/CNPJ:</h6>
                    <div class="col-md-9">
                      <p class="form-control-static">
                        {{ viuvoaMeeiroa.cpfCnpj }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <h6 class="control-label col-md-3">CEP:</h6>
                    <div class="col-md-9">
                      <p class="form-control-static">
                        {{ viuvoaMeeiroa.cep }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h6 class="control-label col-md-3">Endereço:</h6>
                    <div class="col-md-9">
                      <p class="form-control-static">
                        {{ viuvoaMeeiroa.endereco }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <h6 class="control-label col-md-3">Bairro:</h6>
                    <div class="col-md-9">
                      <p class="form-control-static">
                        {{ viuvoaMeeiroa.bairro }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h6 class="control-label col-md-3">Complemento:</h6>
                    <div class="col-md-9">
                      <p class="form-control-static">
                        {{ viuvoaMeeiroa.complemento }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <h6 class="control-label col-md-3">UF:</h6>
                    <div class="col-md-9">
                      <p class="form-control-static">
                        {{ viuvoaMeeiroa.uf }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h6 class="control-label col-md-3">Município:</h6>
                    <div class="col-md-9">
                      <p class="form-control-static">
                        {{ viuvoaMeeiroa.municipio }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <h6 class="control-label col-md-3">Telefone:</h6>
                    <div class="col-md-9">
                      <p class="form-control-static">
                        {{ viuvoaMeeiroa.telefone }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
