<div class="container-column">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light portlet-fit bordered" style="width: 870px">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-layers font-blue"></i>
            <span class="caption-subject font-blue bold uppercase"> Bens </span>
          </div>
          <div class="actions">
            <div class="input-icon pull-right">
              <i class="icon-magnifier"></i>
              <input
                type="text"
                class="form-control input-circle"
                placeholder="Filtrar...."
                name="filter"
                [(ngModel)]="filter"
              />
            </div>
            <hr />
          </div>
        </div>
        <div class="portlet-body">
          <div id="bootstrap_alerts_demo"></div>
          <form class="form-horizontal" role="form">
            <div class="form-body">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Tipo</th>
                        <th>Espécie</th>
                        <th>Município</th>
                        <th>Matrícula</th>
                        <th>IE</th>
                        <th>Vlr Declarado</th>
                        <th>Vlr Apurado</th>
                        <th>%</th>
                        <th>M/I</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let bem of bens">
                        <td>{{ bem.tipo }}</td>
                        <td>{{ bem.especie }}</td>
                        <td>{{ bem.municipio }}</td>
                        <td>{{ bem.matricula }}</td>
                        <td>{{ bem.ie }}</td>
                        <td>{{ bem.valorDeclarado }}</td>
                        <td>{{ bem.valorApurado }}</td>
                        <td>{{ bem.porcentagem }}</td>
                        <td>{{ bem.mi }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
